{% extends 'quotesapp/base.html' %}
{% block content %}
<nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
    <ul>
        <li><a href="/quotesapp" role="button"> Go back to the main page </a></li>
        <li><a href="{% url 'quotesapp:edit_author' author.id %}" role="button"> Edit Author </a></li>
        <li><a href="{% url 'quotesapp:delete_author' author.id %}" role="button"> Delete Author </a></li>
    </ul>
</nav>

<h2>{{ author.fullname }}</h2>
<p><b>Born:</b> {{ author.birth_date }} {{ author.birth_location }}</p>
<p><b>Description:</b></p>
<p> {{ author.description }}</p>

{% endblock %}
