{% load extract_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Quotes App</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quotesapp/style.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
                {% if user.is_authenticated %}
                <ul>
                    <li><a href="{% url 'users:profile' %}" role="button"> Profile </a></li>
                    <li><a href="{% url 'users:logout' %}" role="button"> Logout </a></li>
                </ul>
                {% else %}
                <ul>
                    <li><a href="{% url 'users:signup' %}" role="button"> Sign Up </a></li>
                    <li><a href="{% url 'users:login' %}" role="button"> Login </a></li>
                </ul>
                {% endif %}
            </nav>
        </div>
    </header>

    <main>
        <div class="container">

            <div style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
                <h3>Top Ten Tags</h3>
                <ul>
                    {% for tag in top_tags %}
                        <li><a href="{% url 'quotesapp:quotes_by_tag' tag.id %}">{{ tag.name }}</a> ({{ tag.num_quotes }})</li>
                    {% endfor %}
                </ul>
            </div>

            {% if user.is_authenticated %}
            <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">

                <ul>
                    <li><a href="{% url 'quotesapp:add_author' %}" role="button"> Add Author </a></li>
                    <li><a href="{% url 'quotesapp:add_tag' %}" role="button"> Add Tag </a></li>
                    <li><a href="{% url 'quotesapp:add_quote' %}" role="button"> Add Quote </a></li>
                </ul>

            </nav>
            {% endif %}

        <h1>Quotes</h1>

        {% for quote in quotes %}
        <div style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
            <p>"{{ quote.quote }}"</p>
            <p>by <a href="{% url 'quotesapp:author_detail' author_id=quote.author.id %}">{{ quote.author.fullname }}</a></p>
            <p><small><b>Tags:</b>
                {% for tag in quote.tags.all %}
                    <a href="{% url 'quotesapp:quotes_by_tag' tag.id %}">{{ tag }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </small></p>
            {% if user.is_authenticated %}
            <nav>
                <ul>
                    <li><a href="{% url 'quotesapp:edit_quote' quote_id=quote.id %}" role="button"> Edit </a></li>
                    <li><a href="{% url 'quotesapp:delete_quote' quote_id=quote.id %}" role="button" class="secondary"> Delete </a></li>
                </ul>
            </nav>
            {% endif %}
        </div>
    {% endfor %}
        </div>

    </main>

    <footer>
        <div class="container">
            {% if quotes.has_previous %}
                <a href="?page=1" role="button">First</a></li>
                <a href="?page={{ quotes.previous_page_number }}" role="button">Previous</a></li>            
            {% endif %}

            <span class="current-page">Page {{ quotes.number }} of {{ quotes.paginator.num_pages }}</span>

            {% if quotes.has_next %}
                <a href="?page={{ quotes.next_page_number }}" role="button">Next</a></li>
                <a href="?page={{ quotes.paginator.num_pages }}" role="button">Last</a></li>           
            {% endif %}
        </div>
    </footer>
</body>
</html>
